.home-background {
    /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    min-height: 72vh;
  }

  .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }
