/* Styles for the CategoryAddModal */
.custom-modal {
  width: 400px; /* Adjust the width as needed */
  max-width: 90%; /* Make it responsive */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

/* Close icon styles */
.custom-modal .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #777;
}

/* Input styles */
.custom-modal input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Button styles */
.buttonDiv{
  width: 100%;
  display: flex;
  /* justify-content: end; */
}

.custom-modal .add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;

}

.custom-modal .add-button:hover {
  background-color: #0056b3;
}

/* Error message styles */
.custom-modal .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Add more course button styles */
.add-course-button {
  background-color: #ff7b0053; /* Button background color */
  color: #000; /* Button text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  height: 34px; 
  justify-content: center;
  
}

.add-course-button:hover {
  background-color: #ff7b0086; /* Change color on hover if desired */
}

.image-input {
  margin-top: 20px;
  border: 1px solid #ccc; /* Add a border around the section */
  padding: 20px; /* Add some padding to the section */
  border-radius: 5px; /* Add rounded corners to the border */
  background-color: #f9f9f9; /* Set a background color */
}

.image-input label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Text color for the label */
}

.image-input label svg {
  margin-right: 5px; /* Spacing between the icon and text */
}
/* Container for the added image */
.image-preview-container {
  display: flex;
  align-items: center;
}

/* Style for the added image */
.image-preview {
  width: 40px; /* Set the width of the image preview */
  height: 40px; /* Set the height of the image preview */
  border: 1px solid #ccc; /* Add a border around the preview */
  border-radius: 5px; /* Rounded corners for the preview */
  margin-right: 10px; /* Spacing between the preview and the button */
  overflow: hidden; /* Hide overflow if the image is larger than the container */
}

/* Style for the file input */
.image-input input[type="file"]::before {
  content: 'Upload Image';
  display: block;
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  
}

.image-input input[type="file"]::before:hover {
  background-color: #0056DA;
}

