/* App Layout Styles */
.content-container {
    padding-left: 250px;
    padding-top: 72px;
    transition: padding-left 0.3s ease; /* Add smooth transition animation */
  }

  .content-container.no-left-padding {
    padding-left: 50px;
  }
  /* Other styles for your layout */
  .navbar{
    position:fixed;
    top:0;
}

@media (max-width: 760px) {
  .content-container{
    padding-left:50px
  }
}